$color-blue: #3282f7;
$color-green: #68d9a4;
$color-red: #ed6454;
$color-accent: #e7e7e7;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$border-radius: 5px;

$header-height: 93px;
$card-width: 340px;

$focus-offset: 16px;
$focus-border-size: 2px;
