@use '../utils/' as *;

.dropdown {
  &::after {
    content: '';
    width: 13px;
    height: 13px;

    background: no-repeat center url('/assets/images/arrowDown.svg');
    background-size: contain;
    transform: rotate(0deg);
    transition: transform 0.3s;

    position: absolute;
    top: 22px;
    right: 20px;
  }
  &.expanded {
    &::after {
      transform: rotate(-180deg);
    }

    max-width: 520px;
    max-height: 406px;

    .dropdown__items {
      visibility: visible;
    }
  }
  @include media-breakpoint-between(md, lg) {
    &.expanded {
      margin-right: $dropdown-width;
    }
  }
  @include colorOption;

  max-width: $dropdown-width;
  max-height: 54px;
  line-height: 40px;
  padding: 0.5em 1em;
  margin-right: 1em;
  margin-bottom: 1em;

  font-size: 14px;
  color: white;
  background: #3282f7;
  border-radius: $border-radius;
  overflow: hidden;
  transition: 0.3s;

  display: inline-block;

  input {
    &:focus {
      outline: none;
      &::placeholder {
        opacity: 0.5;
      }
    }
    &::placeholder {
      opacity: 1;
    }

    width: 100%;

    color: white;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 13px;

    /* Bypass la hitbox de la flèche */
    z-index: 1;
    position: relative;
  }
  &__items {
    width: 520px;
    max-width: 470px;
    max-height: 350px;

    overflow: auto;
    transition: 0.3s;

    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
    &.hidden {
      display: none;
    }

    width: 150px;
    line-height: 1em;
    padding: 0.5em;
    padding-left: 0;

    border-radius: $border-radius;
  }
}
