@use '../utils/' as *;

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  width: $card-width;
  border: none;
  flex-grow: 1;

  &__img {
    width: 100%;
    height: calc($card-height / 2);

    background-color: #c7bebe;
  }
  &__body {
    height: calc($card-height / 2);

    background-color: $color-accent;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  &__title {
    padding-right: 0;

    h2 {
      margin: 0;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 17px;
      font-weight: bold;
    }
  }
  &__duration {
    &::before {
      content: '';
      width: 18px;
      height: 24px;
      margin-right: 6px;

      background: no-repeat center url('/assets/images/time.svg');
      background-size: contain;

      display: inline-block;
    }

    font-size: 16px;
    font-weight: bold;
    text-align: right;

    display: flex;
    justify-content: flex-end;
  }
  &__recipe {
    margin-top: 16px;
  }
  &__ingredients,
  &__description {
    font-size: 10px;
  }
  &__ingredient {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
