@use '../utils/' as *;

.filters {
  margin: 23px 0;
  font-weight: bold;

  &__tags {
    margin: 1em 0;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  &__tag {
    &::after {
      content: '';
      width: 20px;
      height: 20px;

      background: no-repeat center url('/assets/images/close.svg');
      background-size: contain;

      position: absolute;
      top: 7px;
      right: 1em;
    }
    @include colorOption;

    padding: 0.5em 1em;
    padding-right: 3.5em;
    padding-bottom: calc(0.5em + 1px);

    font-size: 13px;
    color: white;
    border-radius: $border-radius;
    cursor: pointer;

    display: inline-block;
    position: relative;
  }
  &__list {
    height: 68px;
    margin: 1em 0;

    z-index: 1;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
